/* VARIABLES */

:root {
  --main-font-family: "Public Sans", "Arial", sans-serif;
  --main-text-color: #9597a5;
  --main-bg-color: #fafafa;
  --main-font-size: 18px;
  --main-font-weight: 500;
  --main-line-height: 28px;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
    url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
    url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
    url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}

/* Header */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.sitenav {
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

.sitenav__line {
  position: absolute;
  display: none;
  top: 44px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
}

.sitenav__link:hover {
  color: #2d314d;
}

.sitenav__link:hover + .sitenav__line {
  display: inline-block;
  animation-name: sladein;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.request-link {
  display: inline-block;
  padding: 8px 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
}

.request-link:hover {
  opacity: 0.4;
}

@keyframes sladein {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Hero */
.hero {
  background-image: url("../images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: top -180px left calc(50% + 580px);
}

.hero__inner {
  position: relative;
  padding-top: 250px;
  padding-bottom: 170px;
}

.hero__info {
  width: 447px;
}

.info-hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
}

.info-hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  letter-spacing: -0.28125px;
}

.hero__bg-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% + 60px);
  width: 790px;
  height: 960px;
  background-image: url("../images/hero-phones.svg");
  background-position: top -50px left;
  background-repeat: no-repeat;
}

/* Feature */
.feature {
  background-color: #f4f5f7;
}

.feature__inner {
  padding-top: 96px;
  padding-bottom: 94px;
}

.feature__info {
  margin-bottom: 72px;
  width: 635px;
}

.info-feature__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2d314d;
}

.info-feature__text {
  margin: 0;
  letter-spacing: -0.28125px;
}

.feature__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature__item {
  width: 255px;
}

.feature__item::before {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  content: "";
}

.feature__item:first-child::before {
  background-image: url("../images/banking.svg");
}

.feature__item:nth-child(2)::before {
  background-image: url("../images/budgeting.svg");
}

.feature__item:nth-child(3)::before {
  background-image: url("../images/onboarding.svg");
}

.feature__item:last-child::before {
  background-image: url("../images/api.svg");
}

.item-feature__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2d314d;
}

.item-feature__text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

/* Article */
.news__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.news__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2d314d;
}

.news__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  width: 255px;
  background-color: #ffffff;
  border-radius: 5px;
}

.item-new__img {
  width: 255px;
  height: 200px;
}

.item-news__info {
  padding: 25px;
}

.item-news__author {
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597a5;
}

.item-news__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2d314d;
}

.item-news__title:hover {
  color: #30c88f;
  cursor: pointer;
}

.item-news__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
}

/* Footer */
.site-footer {
  background-color: #2d314d;
}

.site-footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.site-footer__first {
  display: flex;
}

.site-footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-footer__scial-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__social-item:not(:last-child) {
  margin-right: 13px;
}

.site-fotoer__social-link {
  color: #fff;
}

.site-fotoer__social-link:hover {
  color: #30c88f;
}

.site-footer__social-img {
  width: 20px;
  height: 20px;
}

.site-footer__list-wrapper {
  display: flex;
}

.site-footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer__list:first-child {
  margin-left: 131px;
}

.site-footer__list:last-child {
  margin-left: 30px;
}

.site-footer__item {
  width: 160px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.site-footer__link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.site-footer__link:hover {
  color: #30c88f;
}

.site-footer__second {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.site-footer__second-text {
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #ffffff;
  opacity: 0.5;
}

.modal-btn {
  display: none;
  width: 24px;
  height: 11px;
  background-image: url("../images/burger-btn.svg");
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 1200px) {
  .hero {
    background-size: 1120px 800px;
    background-position: top -100px left calc(50% + 400px);
  }

  .hero__bg-wrapper {
    width: 500px;
    height: 700px;
    background-position: left center;
    background-size: contain;
  }

  .hero__bg-wrapper {
    width: 600px;
    height: 800px;
    background-position: left center;
    background-size: contain;
  }
}

@media only screen and (max-width: 1100px) {
  .hero {
    background-size: 950px 700px;
    background-position: top -80px left calc(50% + 350px);
  }

  .hero__bg-wrapper {
    width: 600px;
    height: 800px;
    background-position: left center;
    background-size: contain;
  }

  .hero__inner {
    padding-top: 230px;
    padding-bottom: 160px;
  }

  .info-hero__title {
    margin-bottom: 22px;
    font-size: 54px;
    line-height: 62px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    background-size: 800px 500px;
    background-position: top -45px left calc(50% + 250px);
  }

  .hero__bg-wrapper {
    width: 500px;
    height: 700px;
    background-position: left center;
    background-size: contain;
  }

  .hero__inner {
    padding-top: 210px;
    padding-bottom: 140px;
  }
}

@media only screen and (max-width: 992px) {
  .sitenav__item {
    font-size: 13px;
    line-height: 14px;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 28px;
  }

  .sitenav__line {
    height: 3px;
  }

  .request-link {
    padding: 7px 32px;
    font-size: 13px;
    line-height: 26px;
  }

  .hero__inner {
    padding-top: 190px;
    padding-bottom: 120px;
  }

  .hero {
    background-position: top -25px left calc(50% + 270px);
  }

  .hero__info {
    width: 427px;
  }

  .info-hero__title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 58px;
  }

  .info-hero__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 900px) {
  .hero__inner {
    padding-top: 180px;
    padding-bottom: 110px;
  }

  .hero {
    background-size: 700px 500px;
    background-position: top -25px left calc(50% + 240px);
  }

  .hero__info {
    width: 427px;
  }

  .info-hero__title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 58px;
  }

  .info-hero__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 876px) {
  .hero {
    background-size: 800px 500px;
    background-position: top 0px left calc(50% + 380px);
  }

  .hero__inner {
  }

  .hero__info {
    max-width: 380px;
  }

  .info-hero {
  }

  .info-hero__title {
    margin-bottom: 24px;
    font-size: 54px;
    line-height: 60px;
  }

  .info-hero__text {
    font-size: 14px;
    line-height: 25px;
  }

  .hero__bg-wrapper {
    top: -10px;
    left: calc(50% + 70px);
    width: 700px;
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .sitenav__item {
    font-size: 12px;
    line-height: 13px;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 24px;
  }

  .sitenav__line {
    top: 40px;
    height: 3px;
  }

  .request-link {
    padding: 6px 30px;
    font-size: 12px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    background-position: top center;
  }

  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 500px;
  }

  .hero__info {
    text-align: center;
  }

  .info-hero__title {
    margin-bottom: 24px;
    font-size: 57px;
    line-height: 64px;
  }

  .info-hero__text {
    font-size: 20px;
    line-height: 30px;
  }

  .hero__bg-wrapper {
    top: -30px;
    left: calc(50% - 160px);
    width: 700px;
    height: 500px;
  }
}

@media only screen and (max-width: 650px) {
  .sitenav {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      #2d314d 0%,
      rgba(45, 49, 77, 0.0001) 100%
    );
  }

  .sitenav-open {
    display: block;
  }

  .site-header .request-link {
    display: none;
  }

  .modal-btn {
    display: inline-block;
  }

  .modal-btn__change {
    background-image: url("../images/x-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .sitenav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 327px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ffffff;
    border-radius: 4px;
    animation-name: inner;
    animation-duration: 2s;
  }

  @keyframes inner {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .sitenav__item {
    font-size: 18px;
    line-height: 21px;
    margin-right: 0;
  }

  .sitenav__item:not(:last-child) {
    margin-bottom: 24px;
    margin-right: 0;
  }

  .sitenav__link {
    color: #2d314d;
  }

  .sitenav__link:hover {
    display: none;
  }

  .sitenav__line {
  }

  .hero {
    background-size: 800px 600px;
    background-position: top -200px center;
  }

  .hero__inner {
    padding-top: 400px;
  }

  .hero__info {
    text-align: center;
  }

  .info-hero {
  }

  .info-hero__title {
    margin-bottom: 24px;
    font-size: 57px;
    line-height: 64px;
  }

  .info-hero__text {
    font-size: 20px;
    line-height: 30px;
  }

  .hero__bg-wrapper {
    top: -30px;
    left: calc(50% - 160px);
    width: 600px;
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    background-size: 800px 600px;
    background-position: top -230px center;
  }

  .hero__inner {
    padding-top: 350px;
  }

  .hero__info {
    max-width: 340px;
    text-align: center;
  }

  .info-hero__title {
    margin-bottom: 24px;
    font-size: 47px;
    line-height: 56px;
  }

  .info-hero__text {
    font-size: 15px;
    line-height: 26px;
  }

  .hero__bg-wrapper {
    top: -20px;
    left: calc(50% - 140px);
    width: 500px;
    height: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    background-size: 600px 500px;
    background-position: top -230px left calc(50% + 10px);
  }

  .hero__inner {
    padding-top: 322px;
  }

  .hero__info {
    max-width: 327px;
    text-align: center;
  }

  .info-hero__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 47px;
  }

  .info-hero__text {
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 25px;
  }

  .hero__bg-wrapper {
    top: -40px;
    left: calc(50% - 140px);
    width: 500px;
    height: 350px;
  }
}
